@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #070707;
}

/* Prevents the 'gray highlight' on mobile taps */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Custom scrollbar for that Pro Studio look */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #070707;
}
::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 10px;
}
